In [1]:
import pandas as pd

In [8]:
# 读取数据
df = pd.read_csv("ratings.dat",sep = '::',header=None,engine='python')
df.columns = (['user_id','movie_id',"rating","timestamp"])
df.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291